<h2><%=@book.title%></h2>
<b><p>by <%=@book.author%></p>
<p>Genre: <%=@book.genre%></p></b>
<p><%=@book.description%></p>


<a href="/books/<%= @book.id %>/reviews" class="btn btn-default">All Reviews</a>    
<% if logged_in? %>
    <% if !@user.reviews.exists?(:book_id => @book.id) %>
           <a href="/reviews/new/<%= @book.id %>" class="btn btn-default">Add a Review</a>
    <% else %>
        <a href="/reviews/<%= @review.id %>/edit" class="btn btn-default">Update Your Review</a>
    <% end %>
         
    <a href="/books/<%= @book.id %>/favorite" class="btn btn-default"><%= @user.books.exists?(:id => @book.id) ? "Unfavorite" : "Favorite" %></a>          
<% end %>
<button class="btn btn-default" onclick="history.back()">Back</button>
