<h1>Reviews of <a href="/books/<%= @book.id %>"><%= @book.title %></a></h1>
<b><p>by <%=@book.author%></p></b>

<br><br>
<div class="table-responsive">
    <table class="table-hover" style="width:100%">
    <tr>        
        <th>Rating</th>
        <th>Content</th>
        <th>Action</th>
    </tr>
        <% @reviews.each do |review| %>
            <tr>
                <td><%=review.rating%></td>
                <td><%=review.content%></td>  
                <td><a href="/reviews/<%= review.id %>" class="btn btn-default">View</a></td>    
            </tr>
            
        <% end %>
    </table>
</div>
<br><br>
<button class="btn btn-default" onclick="history.back()">Back</button>